@page "/"
@inject IStringLocalizer<Index> L
@using Microsoft.AspNetCore.Authorization
<style>
    .lp-app-grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
</style>
<PageTitle>@L["Dashboard"]</PageTitle>
<MudContainer MaxWidth="MaxWidth.Large">
    <div class="lp-app-grid">
        <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
            <div class="flex-grow-1">
                <MudText Typo="Typo.h6">TOTAL VISITORS</MudText>
                <div class="d-flex align-center my-1">
                    <MudAvatar Class="me-2 pa-4" Style="background-color: var(--mud-palette-primary-hover);" Size="Size.Small">
                        <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.TrendingDown" Size="Size.Small" />
                    </MudAvatar>
                    <MudText Typo="Typo.subtitle2">+2.6%</MudText>
                </div>
                <MudText Typo="Typo.h4">149,567</MudText>
            </div>
            <div class="d-flex align-end justify-end mud-height-full py-8">
                <MudPaper Height="80%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="95%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="90%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="85%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="65%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="52%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="40%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="38%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="36%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
                <MudPaper Height="20%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            </div>
        </MudPaper>
        <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
            <div class="flex-grow-1">
                <MudText Typo="Typo.h6">CHECKIN VISITORS</MudText>
                <div class="d-flex align-center my-1">
                    <MudAvatar Class="me-2 pa-4" Style="background-color: var(--mud-palette-secondary-hover);" Size="Size.Small">
                        <MudIcon Color="Color.Secondary" Icon="@Icons.Material.Filled.TrendingUp" Size="Size.Small" />
                    </MudAvatar>
                    <MudText Typo="Typo.subtitle2">+9.6%</MudText>
                </div>
                <MudText Typo="Typo.h4">12%</MudText>
            </div>
            <div class="d-flex align-end justify-end mud-height-full py-8">
                <MudPaper Height="15%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="20%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="53%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="35%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="45%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="70%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="58%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="76%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="85%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
                <MudPaper Height="61%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            </div>
        </MudPaper>
        <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
            <div class="flex-grow-1">
                <MudText Typo="Typo.h6">CHECKOUT VISITORS</MudText>
                <div class="d-flex align-center my-1">
                    <MudAvatar Class="me-2 pa-4" Style="background-color: var(--mud-palette-tertiary-hover);" Size="Size.Small">
                        <MudIcon Color="Color.Tertiary" Icon="@Icons.Material.Filled.TrendingFlat" Size="Size.Small" />
                    </MudAvatar>
                    <MudText Typo="Typo.subtitle2">~0.0%</MudText>
                </div>
                <MudText Typo="Typo.h4">3,6</MudText>
            </div>
            <div class="d-flex align-end justify-end mud-height-full py-8">
                <MudPaper Height="10%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="16%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="26%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="28%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="28%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
                <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            </div>
        </MudPaper>
    </div>
    <div class="my-6 d-flex gap-6 flex-wrap">
        <MudPaper Class="py-4 px-6 rounded-lg d-flex flex-column flex-grow-1">
            <div>
                <MudText Typo="Typo.h6">Visitor History(days) @day</MudText>
                <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="day" XAxisLabels="@XAxisLabels" Width="100%" Height="350px"></MudChart>
                <MudButton @onclick="RandomizeData">Randomize Data</MudButton>

            </div>
        </MudPaper>
        <MudPaper Class="pa-4 px-6 rounded-lg d-flex flex-column flex-grow-0">
            <div>
                <MudText Typo="Typo.h6">Visitor's Purpose</MudText>
               <MudChart ChartType="ChartType.Pie" InputData="@data" InputLabels="@labels" Width="200px" Height="200px" />
            </div>
        </MudPaper>
    </div>
</MudContainer>

@code {
    private int day = -1; //default value cannot be 0 -> first selectedindex is 0.
    double[] data = { 77, 25, 20, 5,15 };
    string[] labels = { "Meeting", "Interview", "Conferences", "Working", "Others" };

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Series 1", Data = new double[] { 90, 79, 72, 69, 62, 62, 55, 65, 70 } },
        new ChartSeries() { Name = "Series 2", Data = new double[] { 10, 41, 35, 51, 49, 62, 69, 91, 148 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" };

    Random random = new Random();
    public void RandomizeData()
    {
        var new_series = new List<ChartSeries>()
        {
            new ChartSeries() { Name = "Series 1", Data = new double[9] },
            new ChartSeries() { Name = "Series 2", Data = new double[9] },
        };
        for (int i = 0; i < 9; i++)
        {
            new_series[0].Data[i] = random.NextDouble() * 100;
            new_series[1].Data[i] = random.NextDouble() * 100;
        }
        Series = new_series;
        StateHasChanged();
    }
}
